body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../img/background-half.jpg');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('../img/background.jpg');
  }
}
@media (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../img/background-2x.jpg');
  }
}
body .demo-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-blog .demo-blog__posts {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.demo-blog.mdl-layout .mdl-layout__content {
  padding-top: 30px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.demo-blog .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.demo-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}
.demo-blog .mdl-card__media a,
.demo-blog .mdl-card__title a {
  color: inherit;
}
.demo-blog .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
}
.demo-blog .mdl-card__supporting-text strong {
  font-weight: 400;
}
.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.demo-blog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.demo-blog:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.demo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.demo-blog .meta > *:first-child {
  margin-right: 16px;
}
.demo-blog .meta > * {
  display: flex;
  flex-direction: column;
}
.demo-blog .mdl-card h3 {
  margin: 0;
}
.demo-blog .mdl-card h3 a {
  text-decoration: none;
}
.demo-blog--blogpost .meta > * {
  align-items: center;
}
.demo-blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: flex;
  flex-direction: column;
}
.demo-blog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 800px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
}



.home--post--photo__container {
  position: relative;
  width: 91.1111111vw;
  height: 244px;
  overflow: hidden;
}
.home--post--photo {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.home--post--title {
  z-position: 2;
  position: absolute;
  bottom: 0px;
}
.un-underline-link {
  text-decoration: none;
}